name: DevSecOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21

    - name: Build jar
      run: mvn -B package --file pom.xml

    - name: Build Docker image
      run: docker build -t springboot-vuln .

    - name: Run Trivy scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: springboot-vuln
        format: json
        output: report.json

    - name: Upload report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-report
        path: report.json
